*{
    margin: 10px;
    font-family: 'Raleway', sans-serif; 
}
a{
    text-decoration: none;
}
/******************* Header *******************/
#navHead{
    display: flex;
    justify-content: space-between;
}
#logo{
    width: auto;
    height: 70px;
}
header nav ul li{
    display: inline-block;

}

/******************* Body *********************/
#block1{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
}
.blocRight img{
    margin: 10px;
    width: 300px;
    height: auto;
}
article 
.containerItem{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3px;
}

/******************* Footer *******************/


