*{
    margin: 10px;
    font-family: 'Raleway', sans-serif; 
}
a{
    text-decoration: none;
}
/******************* Header *******************/
#navHead{
    display: flex;
    justify-content: space-between;
}
#logo{
    width: auto;
    height: 70px;
}
header nav ul li{
    display: inline-block;

}

/******************* Body *********************/
#block1{
    
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}
#b-left article{
    margin-right: 50px;
    background-color: #F2F2F2;
    float: left;
    
}
.containerItem{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    padding: 2px;
}
.blocRight img{
    margin: 10px;
    width: 185px;
    height: auto;
    border-radius: 15px;
}



/******************* Footer *******************/


