
a {
    text-decoration: none;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

main {
    /*margin: 20px 50px 50px 50px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/******************* Header *******************/

.navHead {
    display: flex;
}

#logo {
    width: auto;
    height: 36px;
    margin-top: 35px;
    margin-right: 680px;
    transition: 0.3s;
}

#logo:hover {
    opacity: 60%;
}

.insc {
    margin-top: 28px;
}

.navList {
    display: flex;
}

.h-nav {
    padding: 41px 20px 0 20px;
    margin-top: 0;
    border-top: solid 3px #F2F2F2;
    transition: 0.3s;
}

.h-nav:hover {
    border-top: solid 3px #0065FC ;
}

.nav-act {
    padding: 41px 30px 0 30px;
    margin-top: 0px;
    border-top: solid 3px #F2F2F2;
    margin-right: 15px;
}

.nav-act:hover {
    border-top: solid 3px #0065FC;
    transition-duration: 3ms;
}

.ul-nav-Head {
    display: flex;
    width: 320px;
    margin-top: 0;
}

.li-bold {
    display: flex;
    padding-top: 18px;
}

header nav ul li {
    margin: 20px 0 20px 0;
}

header nav ul li a {
    color: #0065FC;
    font-size: 13px;
}

.grey-act {
    color: black
}

.navList a:hover {
    opacity: 60%;
    transition-duration: 3ms;
}

.actif {
    color: #F2F2F2;
}

.header-form {
    width: 67em;
}

h1 {
    margin-top: 26px;
    font-size: 18px;
    font-weight: bold;
}

.s-title {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 13px;
}

form {
    display: flex;
    background-color: #F2F2F2;
    width: 330px;
    height: 43px;
    border-radius: 15px;
}

form label {
    cursor: pointer;
}

.z-info {
    display: flex;
    justify-content: center;
    height: auto;
    width: 40px;
    margin-top: 13px;
}

.div-input {
    display: flex;
    justify-content: flex-end;
    background-color: white; height: 39px;
    width: 185px;
    border: none;
    margin-top: 2px;
    margin-bottom: 2px;
}

input {
    height: auto;
    width: 170px;
    border: none;
    margin-top: 2px;
    margin-bottom: 2px;
}

input::placeholder {
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

button {
    background-color: #0065FC;
    color: #ffffff;
    border-radius: 0px 15px 15px 0px;
    height: auto;
    width: 110px;
    border: none;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.loupe {
    display: none;
}

.textBtn {
    margin: 0 auto;
}

.fa-search {
    display: none;
}

button:focus {
    outline:0;
    transition-duration: 3ms;
}

input:focus {
    outline:0;
    transition-duration: 3ms;
}

button:hover {
    opacity: 70%;
    transition-duration: 3ms;   
}

.zoneSearch a:hover {
    opacity: 50%;
    transition-duration: 3ms; 
}

.zoneFilter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
    width: 770px;
    height: auto;
}

.zoneFilter p {
    margin-top: 15px;
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.zoneFilter .filter {
    margin: 0;
}

.filters-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.zoneFilter a {
    position: relative;
}

.div-filter:hover {
    opacity: 60%;
    transition-duration: 3ms;
}

.div-filter {
    display: flex;
    border: solid;
    border-color: #F2F2F2;
    border-radius: 50px;
    height: 34px;
    width: auto;
}

.div-filter p {
    margin: 10px 11px 0px 11px;
    font-weight: bold;
    font-size: 15px;
    padding-left: 35px;
}

.pastille-filter {
    position: absolute;
    border-radius: 100px;
    background-color: #DEEBFF;
    padding: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left: -3px;
    margin-top: -3px;
}

.fas {
    color: #0065FC;
    font-size: 18px;
}

.fa-map-marker-alt {
    color:black;
    font-size: 15px;
}

.zoneInfo {
    display: flex;
    margin-top: 20px;
}

.zoneInfo p {
    font-size: 12px;
    margin-top: 15px;
}

.logo-info {
    border: solid;
    border-color: #F2F2F2;
    border-radius: 80px;
    margin: 10px 10px 25px 0px;
}

.fa-info {
    font-size: 9px;
    margin: 0px 7px 4px 7px;
} 

/******************* Body *********************/

.block1 {
    display: flex;
    border-radius: 15px;
    width: fit-content;
}

.blockGrey {
    display: flex;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
    width: 1080px;
}

.blockFusion {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.blockFusion h2 {
    margin-left: 31px;
    margin-top: 31px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 18px;
}

.b-left {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 170px;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin: 15px 0px 15px 30px;
}

.b-left2 {
    display: flex;
    justify-content: space-around;
    padding-top: 0px;
    background-color: #F2F2F2;
    height: 180px;
    margin: 0px 0px 15px 30px;
}

.containerItem {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    width: 200px;
    height: 160px;
    position: relative;
    margin: 0px 25px 0px 0px;
}

.banArticle { 
    border-radius: 0px 0px 15px 15px;
    margin-top: -4px;
    margin-right: 18px;
    padding-left: 0px;
    background-color: white;
    width: 100%;
    height: 60px;
    opacity: 100%;
}

.banArticle p {
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 5px;
}

.bold {
    font-weight: bold;
}

.blocLeft p {
    color: black;
}

.blocLeft:hover {
    opacity: 80%;
    transition-duration: 3ms;
}

.blocLeft img {
    margin: 4px;
    width: 192px;
    height: 90px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    background-color: #F2F2F2;
}

.fa-star {
    color: #0065FC;
    font-size: 13px;
    margin: 0px;
}

.s {
    color: #F2F2F2;
}

.stars {
    margin-left: 8px;
    margin-top: 7px;
}

.afficherPlus {
    width: fit-content;
    width: 100%;
    margin: 0px 0px 40px 30px;
}

.afficherPlus p {
    color: black;
}

.afficherPlus p:hover {
    opacity: 60%;
    transition-duration: 3ms;
}

.b-right {
    margin-top: 0px;
    border-radius: 15px;
    float: right;
}

.b-right p {
    color: black;
}

.b-right .b-item-right {
    display: flex;
    margin: 0px;
    width: 350px;
}

.blocPopulaire {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-top: 0px; 
    margin-left: 30px;
    width: 325px; 
}

.blocPopulaire h2 {
    margin-left: 31px;
    margin-right: 10px;
    margin-top: 31px;
    font-weight: bold;
    font-size: 18px;
}

.containerItem2 {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 15px;
    width: 270px;
    height: 110px;
    margin: 0px 30px 15px 30px;
}

.containerItem2 img {
    height: 102px;
    width: 100px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
    margin: 4px;
}

.containerItem2:hover {
    opacity: 80%;
    transition-duration: 3ms;
}

.artPopulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    font-size: 13px;
    margin: 4px;
    border-radius: 15px;
}

.artPopulaire p {
    margin: 4px 0px 3px 8px;
}

.populaire {
    display: flex;
    justify-content: space-between;
}

.fa-chart-line {
    margin: 30px;
    font-size: 20px;
    color: black;
}
.artPopulaire .stars {
    margin-top: 28px;
}

/*------------------*/

.block2 {
    margin-bottom: 0px;
    width: 1080px;
}

.block2 h2 {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.bloc-act { 
    display: flex;
    justify-content: center;
    
}

.b-act {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 260px;
    margin: 25px 18px 25px 0px;
    border-radius: 15px;
}

.b-act img { 
    border-radius: 15px 15px 0px 0px;
}

.ba {
    border-radius: 15px;
    background-color: white;
    padding: 0px;
    box-shadow: 0px 2px 2px 2px #F2F2F2;
}

.title-photo {
    background-color: white;
    height: 30px;
    border-radius: 0px 0px 15px 15px;
}

.title-photo p {
    font-weight: bold;
    font-size: 14px;
    margin: 10px 13px 0px 10px;
}

.cont-1{
    cursor: pointer;
}

.cont-1 img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.cont-1:hover {
    opacity: 80%;
    transition-duration: 3ms;
}

.cont-2 {
    margin-bottom: 27px;
    cursor: pointer;
}

.cont-2 img {
    height: 185px;
    width: 100%;
    object-fit: cover;
}

.cont-2:hover {
    opacity: 80%;
    transition-duration: 3ms;
}

.cont-b-2{
    cursor: pointer;
}

.cont-b-2 img {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.cont-b-2:hover {
    opacity: 80%;
}

.cont-3{
    cursor: pointer;
    
}

.cont-3 img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.cont-3:hover {
    opacity: 80%;
    transition-duration: 3ms;
}

.cont-4 {
    margin-bottom: 31px;
    cursor: pointer;
}

.cont-4:hover {
    opacity: 80%;
    transition-duration: 3ms;
}

.cont-4 img {
    height: 130px;
    width: 100%;
    object-fit: cover;
}

.cont-b-4{
    cursor: pointer;
}

.cont-b-4 img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.cont-b-4:hover {
    opacity: 80%;
    transition-duration: 3ms;
}

/******************* Footer *******************/

footer {
    display: flex;
    /*width: 100%;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #F2F2F2;
    padding: 50px 0px 50px 50px;
    margin-bottom: 0px;
    margin-left: -120px;
    overflow-x: hidden;
}

footer nav {
   margin-right: 200px;
}

.foot-container {
    display: flex;
}

footer p {
    margin-bottom: 15px;
    font-weight: bolder;
    font-size: 15px;
}

footer li a{
    color: black;
}

footer li {
    margin-bottom: 10px;
    font-size: 13px;
    
}

footer li:hover {
    opacity: 60%;
    transition-duration: 3ms;
}