@media screen and (max-width: 525px) {

    main{
        margin: 0px;
        width: 425px;
    }

    header{
        margin: 0px 50px 10px 5px;
        width: 420px;
    }
    
    #navHead{
        display: flex;
        
    }

    #navList{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 290px;
    }

    #logo{
        position: fixed;
        width: auto;
        height: 46px;
        margin-top: 25px;
    }


    .navList a{
        font-size: 17px;
    }
    .nav-signal{
        display: flex;
        flex-direction: column;
    }

    .nav-act{
        display: flex;
        flex-direction: column;
    }

    .h-nav{
        padding-top: 50px;
    }
    .bold{
        
        margin-bottom: 20px;
    }

    .blue-signal{
        display: none;
    }

    .blue-signal2{
        height: 3px;
        width: 130px;
        background-color: #0065FC;
        margin-top: 10px;
    }

    .grey-signal{
        height: 3px;
        width: 130px;
        background-color: #F2F2F2;
        
        margin-top: 10px;
    }

    .zoneInfo{
        width: 300px;
    }

    .zoneInfo p{
        font-size: 14px;
        margin-bottom: 5px;
    }

    #block1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        width: 125px;
        
    }

    .blockGrey{
        display: flex;
        flex-direction: column-reverse;
        width: 425px;
        border-radius: 0;
    }
    
    #blocPopulaire{
        border-radius: 0px;
        margin-left: 0px;
        width: 415px;
        
        justify-content: space-between;
    }
    .containerItem{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 280px;
        height: auto;
        margin-bottom: 75px;
    }

    .containerItem2{
        width: 310px;
        height: 110px;
        margin-left: 18px;
    }
    
    #blockFusion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;

    }
     
    #b-left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 280px;
        height: auto;
    }

    #b-left2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 280px;
        height: auto;
    }

    footer{
        flex-direction: column;
        width: 100%;
        padding-left: 20px;
        padding-bottom: 10px;
    }

    footer nav{
        margin-bottom: 30px; 
    }
}