
@media screen and (min-width: 768px) and (max-width: 1160px) {
    
    #logo {
        margin-right: 325px;
    }

    .header-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
    
    .block1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
    }

    .zoneFilter {
        width: 718px;
    }

    .blockGrey {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 718px;
        border-radius: 0;
    }

    .b-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #populaire {
        width: 718px;
    }
    
    .containerItem2 {
        width: 218px;
        margin: 0 10px 20px 10px;
    }

    .containerItem2 img {
        width: 70px;
    }

    .blocPopulaire {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 15px;
        margin-top: 0px; 
        margin-left: 0px;
        width: 100%;
    }

    .block2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 718px;
    }

    .blocPopulaire h2 {
        font-size: 22px;
    }

    .blockFusion h2 {
        font-size: 22px;
    }

    .block2 h2 {
        margin-left: -350px;
        font-size: 22px;
    }

    .blockFusion {
        margin-top: 20px;
    }

    .bloc-act {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .b-act {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: auto;
        margin-top: 0;
    }

    .ba {
        width: 200px;
    }

    .ba img {
        height: 150px;
    }
    
    .cont-1 {
        width: 718px;
        margin-left: 18px;
    }

    .cont-2 {
        width: 350px;
        height: 190px;
        margin-right: 20px;
        margin-left: 18px;
    }

    .cont-b-2 {
        width: 350px;
        height: 190px;
    }

    .cont-3 {
        width: 718px;
        margin-left: 18px;
        margin-top: -25px;
    }

    .cont-4 {
        width: 350px;
        height: 190px;
        margin-right: 20px;
        margin-left: 18px;
    }

    .cont-b-4 {
        width: 350px;
        height: 190px;
    }

    footer nav {
        margin: auto;
    }

    .foot-container {
        width: 49em;
    }
}